---
---

@import "vars";
@import "reset";
@import "syntax";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.25;
  -webkit-text-size-adjust: 100%;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4em 0;
    h2 {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline;
      }
    }
  }
}

body {
  margin: 0;
  font-size: 1em;
  .container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 2em;
    article.list {
      padding: 0.2em 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  article {
    img {
      width: 100%;
      border: 1px solid;
      border-color: #ddd #ddd #ccc;
      border-radius: 0.5em;
    }
    ul {
      list-style: none;
      position: relative;
      li:before {
        margin-left: 10px;
        width: 20px;
        content: "\2014";
        position: absolute;
        left: 0;
      }
    }
  }
}

header.article-header {
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  height: $container-width / 2;
  margin-bottom: 2em;
  display: flex;
  background-position: center center;
  background-size: cover;
  &:before {
    content: " ";
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2em 1em;
    z-index: 1;
  }
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }
}

nav.article-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

footer {
  margin: 4em 0;
}

h1 {
  font-size: 2.6em;
  margin: 0.67em 0;
}

h2 {
  font-size: 2em;
  margin: 0.51em 0;
}

h3 {
  font-size: 1.6em;
  margin: 0.45em 0;
}

h4 {
  font-size: 1.2em;
  margin: 0.39em 0;
}

h5 {
  font-size: 1em;
  margin: 0.36em 0;
}

h6 {
  font-size: 0.8em;
  margin: 0.3em 0;
}

p {
  font-size: 1em;
  margin: 0;
  & + p {
    margin-top: 1em;
  }
}

.gist {
  margin-top: 1em;
}

blockquote,
.highlighter-rouge {
  color: #586e75;
  background-color: $grey-color;
  margin: 1em 0;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  .highlight,
  pre {
    background: transparent;
    margin: 0;
  }
}

code.highlighter-rouge {
  margin: 0;
  padding: 0.2em 0.5em;
  line-height: 1.75;
}

table {
  padding: 0;
  margin: 0;
  min-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  td,
  th {
    margin: 0;
    padding: 0.375em 0.8em;
    vertical-align: top;
  }
  th {
    &:not([align]) {
      text-align: inherit;
    }
  }
  tr {
    &:first-child {
      th {
        &:first-child {
          border-top-left-radius: 0.5em;
        }
        &:last-child {
          border-top-right-radius: 0.5em;
        }
      }
    }
    &:last-child {
      td {
        &:first-child {
          border-bottom-left-radius: 0.5em;
        }
        &:last-child {
          border-bottom-right-radius: 0.5em;
        }
      }
    }
  }
}

body,
listing,
xmp,
pre,
plaintext,
tt,
code,
kbd,
samp {
  font-family: "SFMono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

button#theme-toggle {
  height: 1.25em;
  width: 1.25em;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
  &:-moz-focus-inner {
    border: 0;
  }
  svg {
    height: 1.25em;
    width: 1.25em;
    outline: none;
    transition: transform 0.1s linear;
    line {
      stroke-width: 2em;
      stroke-linecap: round;
    }
  }
}

/* Light Theme */
body {
  ::-moz-selection {
    color: $white-color;
    background: $black-color;
  }
  ::selection {
    color: $white-color;
    background: $black-color;
  }
  color: $black-color;
  background-color: $white-color;
  .with_color {
    color: $primary-color;
  }
  hr {
    border-color: $grey-color;
  }
  button#theme-toggle {
    color: $primary-color;
    svg {
      path,
      circle {
        fill: $primary-color;
      }
      line {
        stroke: $primary-color;
      }
    }
  }
  a {
    color: $primary-color;
    &:visited {
      color: #146648;
    }
  }
  header {
    nav {
      a,
      a:visited {
        color: $primary-color;
      }
    }
  }
  footer {
    a,
    a:visited {
      color: $primary-color;
    }
  }
  header.article-header {
    &:before {
      background: rgba(0, 0, 0, 0.5);
    }
  }
  table:not(.highlight) {
    td,
    th {
      border: 1px solid $grey-color;
    }
    tr {
      border-top: 1px solid $grey-color;
      &:nth-child(1n) {
        td {
          background-color: $white-color;
        }
      }
      &:nth-child(2n) {
        td {
          background-color: $grey-color;
        }
      }
      &:first-child {
        th {
          background-color: $grey-color;
        }
      }
    }
  }
}

/* Dark Theme */
body.dark-theme {
  ::-moz-selection {
    color: $black-color;
    background: $white-color;
  }
  ::selection {
    color: $black-color;
    background: $white-color;
  }
  color: $white-color;
  background-color: $black-color;
  .with_color {
    color: $secondary-color;
  }
  hr {
    border-color: $grey-color;
  }
  button#theme-toggle {
    color: $secondary-color;
    svg {
      path,
      circle {
        fill: $secondary-color;
      }
      line {
        stroke: $secondary-color;
      }
    }
  }
  a {
    color: $secondary-color;
    &:visited {
      color: #819c1a;
    }
  }
  header {
    nav {
      a,
      a:visited {
        color: $secondary-color;
      }
    }
  }
  footer {
    a,
    a:visited {
      color: $secondary-color;
    }
  }
  header.article-header {
    &:before {
      background: rgba(0, 0, 0, 0.2);
    }
  }
  blockquote,
  .highlighter-rouge {
    ::-moz-selection {
      color: $white-color;
      background: $black-color;
    }
    ::selection {
      color: $white-color;
      background: $black-color;
    }
  }
  table:not(.highlight) {
    ::-moz-selection {
      color: $white-color;
      background: $black-color;
    }
    ::selection {
      color: $white-color;
      background: $black-color;
    }
    color: $black-color;
  }
}

@media (prefers-color-scheme: dark) {
  /* Dark Theme */
  body {
    ::-moz-selection {
      color: $black-color;
      background: $white-color;
    }
    ::selection {
      color: $black-color;
      background: $white-color;
    }
    color: $white-color;
    background-color: $black-color;
    .with_color {
      color: $secondary-color;
    }
    hr {
      border-color: $grey-color;
    }
    button#theme-toggle {
      color: $secondary-color;
      svg {
        path,
        circle {
          fill: $secondary-color;
        }
        line {
          stroke: $secondary-color;
        }
      }
    }
    a {
      color: $secondary-color;
      &:visited {
        color: #819c1a;
      }
    }
    header {
      nav {
        a,
        a:visited {
          color: $secondary-color;
        }
      }
    }
    footer {
      a,
      a:visited {
        color: $secondary-color;
      }
    }
    header.article-header {
      &:before {
        background: rgba(0, 0, 0, 0.2);
      }
    }
    blockquote,
    .highlighter-rouge {
      ::-moz-selection {
        color: $white-color;
        background: $black-color;
      }
      ::selection {
        color: $white-color;
        background: $black-color;
      }
    }
    table:not(.highlight) {
      ::-moz-selection {
        color: $white-color;
        background: $black-color;
      }
      ::selection {
        color: $white-color;
        background: $black-color;
      }
      color: $black-color;
    }
  }

  /* Light Theme */
  body.light-theme {
    ::-moz-selection {
      color: $white-color;
      background: $black-color;
    }
    ::selection {
      color: $white-color;
      background: $black-color;
    }
    color: $black-color;
    background-color: $white-color;
    .with_color {
      color: $primary-color;
    }
    hr {
      border-color: $grey-color;
    }
    button#theme-toggle {
      color: $primary-color;
      svg {
        path,
        circle {
          fill: $primary-color;
        }
        line {
          stroke: $primary-color;
        }
      }
    }
    a {
      color: $primary-color;
      &:visited {
        color: #146648;
      }
    }
    header {
      nav {
        a,
        a:visited {
          color: $primary-color;
        }
      }
    }
    footer {
      a,
      a:visited {
        color: $primary-color;
      }
    }
    header.article-header {
      &:before {
        background: rgba(0, 0, 0, 0.5);
      }
    }
    table:not(.highlight) {
      td,
      th {
        border: 1px solid $grey-color;
      }
      tr {
        border-top: 1px solid $grey-color;
        &:nth-child(1n) {
          td {
            background-color: $white-color;
          }
        }
        &:nth-child(2n) {
          td {
            background-color: $grey-color;
          }
        }
        &:first-child {
          th {
            background-color: $grey-color;
          }
        }
      }
    }
  }
}
