---
layout: default
---
{% include setup %}
{% include minute_reading %}
<header class="intro post"
  {% if page.cover %}
    style="background-image: url({{ page.cover }})"
  {% endif %}
  >
  <div class="site-heading col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12"
    {% if page.color %}
      style="color: {{ page.color }}"
    {% endif %}
    >
    {% unless page.tags == empty %}
      <div class="tags">
        {% for tag in page.tags %}
          {% assign tag_post = site.my_tags| where: "slug", tag %}
          {% assign tag_post = tag_post[0] %}
          {% if tag_post %}
            <a href="{{ tag_post.url }}">{{ tag_post.name | capitalize }}</a>
          {% endif %}
        {% endfor %}
      </div>
    {% endunless %}
    <h1>
      {{ page.title }}
    </h1>
    <h3>
      {{ page.date | date: "%Y" }} оны
      {% assign m = page.date | date: "%-m" %}
      {% case m %}
        {% when '1' %} 1-р сарын
        {% when '2' %} 2-р сарын
        {% when '3' %} 3-р сарын
        {% when '4' %} 4-р сарын
        {% when '5' %} 5-р сарын
        {% when '6' %} 6-р сарын
        {% when '7' %} 7-р сарын
        {% when '8' %} 8-р сарын
        {% when '9' %} 9-р сарын
        {% when '10' %} 10-р сарын
        {% when '11' %} 11-р сарын
        {% when '12' %} 12-р сарын
      {% endcase %}
      {{ page.date | date: "%-d" }}-нд

      {% unless page.categories == empty %}
        {% for category in page.categories %}
          {% assign category_post = site.my_categories | where: "slug", category %}
          {% assign category_post = category_post[0] %}
          {% if category_post %}
            <a href="{{ category_post.url }}">
              {{ category_post.name | join: "/" | capitalize }}
            </a>
            ангилалд
          {% endif %}
        {% endfor %}
      {% endunless %}
      нийтэлсэн.
    </h3>
    <h3 class="eta">
      {% if minutes == 0 %}
        {{ site.text.less_than_minute_read }}
      {% else %}
        {{ minutes }} {{ site.text.minute_read }}
      {% endif %}
    </h3>
  </div>
</header>
<!-- Main content -->
<div class="container">
  <div class="post-full col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="content">
      {{ content }}
    </div>
    <nav class="post-pagination">
      {% if page.next.url %}
        <a class="post-pagination-link next" href="{{page.next.url}}">
          Дараах &rarr; <strong>{{page.next.title}}</strong>
        </a>
      {% endif %}
      {% if page.previous.url %}
        <a class="post-pagination-link previous" href="{{ page.previous.url }}">&larr; Өмнөх</a>
      {% endif %}
    </nav>
    {% include comments %}
  </div>
</div>
