---
layout: default
---
{% assign minutes = content | strip_html | number_of_words | divided_by: 60 %}

<header class="article-header" {% if page.cover %} style="background-image: url({{ page.cover }})" {% endif %}>
  <div {% if page.color %} style="color: {{ page.color }}" {% endif %}>
    <h1>{{ page.title }}</h1>
    <h3>{{ page.date | date: "%Y оны %m-р сарын %-d" }}-нд нийтэлсэн.</h3>
    <h3>
      {% if minutes < 1 %}
        Минут хүрэхгүй.
      {% else %}
        {{ minutes }} минут уншина.
      {% endif %}
    </h3>
  </div>
</header>

<article>{{ content }}</article>

<nav class="article-pagination">
  {% if page.previous.url %}
    <a class="article-link previous" href="{{ page.previous.url }}">
      &larr; Өмнөх
    </a>
  {% endif %}

  {% if page.next.url %}
    <a class="article-link next" href="{{page.next.url}}">
      Дараах &rarr; <strong>{{page.next.title}}</strong>
    </a>
  {% endif %}
</nav>
